body {
    color: white;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.parent {
    display: flex;
    height: 600px;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 10%;
}

.child {
    width: 40%; 
    height: auto;
    margin: auto;
}



.img {
    max-width: 100%;
    overflow: hidden;
    /* height: auto; */
}

.title {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}