body {
    color: white;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.parent {
    display: flex;
    height: 40vw;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 10%;
    overflow:visible;
}

.child {
    width: 40%; 
    height: auto;
    margin: auto;
}



.img {
    max-width: 80%;
    overflow: hidden;
    /* height: auto; */
}

.title-img {
    max-width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}