* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar {
    padding: 15px;
    background-color: gray;
    color: white;
    text-shadow: 2px 2px black;
}

.nav-list-item {
    display: inline-block;
    margin: 15px 15px 3px 0px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: transparent;
    text-shadow: 2px 2px white;
}