.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
}

.main {
    width: 100%;
    text-align: center;
}

#map {
    background-image: url("imgs/Feudal/map.jpg");
    background-size: 1200px;
    height: 1000px;
    width: 80%;
    background-repeat: no-repeat;
    margin-top: 20px;
    /* margin-left: 20%; */
}
